@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Orbitron&display=swap');

html, body{
  margin: 0px;
  padding: 0px 5px 10px 5px;
  height: 252px;
}

span:hover {
  cursor: pointer;
}


#background{
  position: absolute;
  right: -115px;
  bottom: 0;
  z-index: -1;
}

.title{
  display: flex;
  align-items: center;
}
.title h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #fff;
  padding-left: 8px;
}

.content h3 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  font-size: 15px;
  color: #fff;
}

.content-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content span{
  padding: 0px 10px;
}


@media (min-aspect-ratio : 16/9){
  #background{
    width: 100%;
    height: auto;
    width: 230px
  }
}

@media (max-aspect-ratio : 16/9){
  #background{
    width: auto;
    height: 100%;
  }
}